USE [SpendWiseDB]
GO
/****** Object:  StoredProcedure [cfg].[sp_GetTag]    Script Date: 4/2/2026 12:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [cfg].[sp_GetTag]
	-- Add the parameters for the stored procedure here
	@TagID int, @UserID int
AS
BEGIN

    -- Insert statements for procedure here
	select * from cfg.Tags where TagID = @TagID AND UserID = @UserID;
END
