USE [SpendWiseDB]
GO
/****** Object:  StoredProcedure [cfg].[sp_UpdateTag]    Script Date: 4/2/2026 4:54:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [cfg].[sp_UpdateTag] (@TagID INT, @CategoryID INT, @Name NVARCHAR(100), @UserID int) AS
BEGIN UPDATE cfg.Tags SET CategoryID = @CategoryID, Name = @Name WHERE TagID = @TagID AND UserID = @UserID; END;


/****** Object:  StoredProcedure [cfg].[sp_DeleteTag]    Script Date: 4/2/2026 4:58:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [cfg].[sp_DeleteTag] (@TagID INT, @UserID int) AS BEGIN DELETE FROM cfg.Tags WHERE TagID = @TagID AND UserID = @UserID; END;
