USE [SpendWiseDB]
GO
/****** Object:  StoredProcedure [pln].[sp_CreateObligation]    Script Date: 4/2/2026 10:03:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [pln].[sp_CreateObligation] (@UserID INT, @Title NVARCHAR(255), @Amount DECIMAL(18,2),
@DueDate DATE, @IsActive bit, @NewID INT OUTPUT) AS BEGIN INSERT INTO
pln.FixedObligations (UserID, Title, Amount, DueDate, IsActive) VALUES 
(@UserID, @Title, @Amount, @DueDate, @IsActive); SET @NewID = SCOPE_IDENTITY(); END; 


/****** Object:  StoredProcedure [pln].[sp_GetObligationsByUserID]    Script Date: 4/2/2026 10:57:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [pln].[sp_GetObligation] (@ObligationID INT, @UserID int) AS BEGIN 
SELECT * FROM pln.FixedObligations WHERE ObligationID = @ObligationID AND UserID = @UserID; END; 

/****** Object:  StoredProcedure [pln].[sp_DeleteObligation]    Script Date: 4/2/2026 11:03:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [pln].[sp_DeleteObligation] (@ObligationID INT, @UserID int) AS BEGIN DELETE FROM pln.FixedObligations WHERE ObligationID = @ObligationID AND UserID = @UserID; END;
