USE [SpendWiseDB]
GO
/****** Object:  StoredProcedure [Identity].[sp_CheckUsernameExists]    Script Date: 4/12/2026 1:44:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- 4. Check if Username Exists (For Registration Validation)
-- ==========================================
ALTER PROCEDURE [Identity].[sp_CheckUsernameExists]
    @Username NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT Found = 1 FROM [Identity].Users WHERE Username = @Username;
END
