USE [SpendWiseDB]
GO
/****** Object:  StoredProcedure [Banking].[sp_AddWallet]    Script Date: 4/12/2026 7:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- Add Wallet (With Currency Check/Create)
-- ==========================================
ALTER   PROCEDURE [Banking].[sp_AddWallet]
    @UserId INT,
	@CurrencyID INT,
    @Balance DECIMAL(18,2),
	@IsSaved BIT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN; -- Start Data Consistency Lock

        -- 3. Create the Wallet using the found/created CurrencyID
        INSERT INTO [Banking].Wallets (UserID, CurrencyID, Balance, IsSaved)
        VALUES (@UserId, @CurrencyId, @Balance, @IsSaved);
        
        DECLARE @NewWalletID INT = SCOPE_IDENTITY();

        COMMIT TRAN; -- Lock Released: Both operations succeeded
        
        -- Return the new WalletID to C#
        SELECT @NewWalletID;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN; -- Emergency Revert
        THROW;
    END CATCH
END
