/****** Object:  StoredProcedure [Banking].[sp_UpdateWallet]    Script Date: 4/13/2026 1:57:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- Update Wallet (With Currency Check/Create)
-- ==========================================
ALTER   PROCEDURE [Banking].[sp_UpdateWallet]
    @WalletId INT,
    @UserId INT,
    @CurrencyName NVARCHAR(50),
    @ActualValue DECIMAL(18,4),
    @Balance DECIMAL(18,2),
	@IsSaved BIT
AS
BEGIN
    BEGIN TRY
        BEGIN TRAN; -- Start Data Consistency Lock
        
        DECLARE @CurrencyId INT;

        -- 1. Check if the Currency already exists
        SELECT @CurrencyId = CurrencyID 
        FROM [Config].Currencies 
        WHERE CurrencyName = @CurrencyName;

        -- 2. If it does not exist, create it
        IF @CurrencyId IS NULL
        BEGIN
            INSERT INTO [Config].Currencies (CurrencyName, ActualValue)
            VALUES (@CurrencyName, @ActualValue);
            
            SET @CurrencyId = SCOPE_IDENTITY();
        END

        -- 3. Update the Wallet using the found/created CurrencyID
        UPDATE [Banking].Wallets
        SET CurrencyID = @CurrencyId,
            Balance = @Balance,
			IsSaved = @IsSaved
        WHERE WalletID = @WalletId AND UserID = @UserId;
        
        DECLARE @RowsAffected INT = @@ROWCOUNT;

        COMMIT TRAN; -- Lock Released
        
        -- Return the number of rows affected
        SELECT @RowsAffected;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN; -- Emergency Revert
        THROW;
    END CATCH
END

/****** Object:  StoredProcedure [Banking].[sp_GetUserWallets]    Script Date: 4/13/2026 1:56:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- 2. Get All Wallets for a User (Includes Currency Data)
-- ==========================================
ALTER   PROCEDURE [Banking].[sp_GetUserWallets]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        w.WalletID, w.Balance, w.UserID, w.IsSaved,
        c.CurrencyID, c.CurrencyName, c.ActualValue
    FROM [Banking].Wallets w
    INNER JOIN [Config].Currencies c ON w.CurrencyID = c.CurrencyID
    WHERE w.UserID = @UserId;
END

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- 5. Delete a Wallet
-- ==========================================
ALTER   PROCEDURE [Banking].[sp_DeleteWallet]
    @WalletId INT
AS
BEGIN
    DELETE FROM [Banking].Wallets
    WHERE WalletID = @WalletId;
    
    SELECT @@ROWCOUNT;
END

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- 1. Get Wallet By ID (Includes Currency Data)
-- ==========================================
ALTER   PROCEDURE [Banking].[sp_GetWalletById]
    @WalletId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        w.WalletID, w.Balance, w.UserID, w.IsSaved,
        c.CurrencyID, c.CurrencyName, c.ActualValue
    FROM [Banking].Wallets w
    INNER JOIN [Config].Currencies c ON w.CurrencyID = c.CurrencyID
    WHERE w.WalletID = @WalletId AND w.UserID = @UserId;
END
